 *{
     margin: 0;
     padding: 0;
 }
 body{
     background: rgb(244,244,246);
     padding-top: 44px;

 }
*{
    margin: 0;
    padding: 0;
}
 header{
     background: rgb(40,133,202);
     color: white;
     text-align: center;
     line-height: 44px;
     font-size: 18px;
     left: 0;
     top: 0;
     width: 100%;
     position: fixed;
 }
 .EP_first_section{
     background-color: rgb(241,241,241);
     width: 100%;
     display: table;
     /*color: white;*/
 }
 .DS_second_section img {
     width: 100%;
     margin-bottom: -1px;
 }
 section a{
     display: table-cell;
     width:33.3%;
     text-align: center;
     vertical-align: middle;
     text-decoration: none;

 }
 a:link{color: #000000}
 a:visited{color: rgb(00,00,00)}
 a:hover{color: rgb(230,101,30)}
 a:active{color: rgb(41,133, 202)}

 footer{
    display: table;
    width: 100%;
    background: black;
    height: 49px;
    font-size: 14px;
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
     color: white;

}
footer a{
    display: table-cell;
    width: 20%;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}
footer a span{
    display: block;
    color: white;
    font-size: 12px;
}
footer a img{
    width: 18px;
    color: white;
    height: 18px;
}
ul{
    margin-bottom: 10px;
    height: 100px;
    background: white;
    display: table;
    width: 100%;
    font-size: 12px;
}
